<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222086027068-m8c59517o1oj3pp4o77dng51k9mmsqgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222086027068-m8c59517o1oj3pp4o77dng51k9mmsqgq</string>
	<key>API_KEY</key>
	<string>AIzaSyBVh-s2HtXGUo5InQ2MDYxuyhsRZkYtU5E</string>
	<key>GCM_SENDER_ID</key>
	<string>222086027068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.Event-Store-App</string>
	<key>PROJECT_ID</key>
	<string>event-store-44370</string>
	<key>STORAGE_BUCKET</key>
	<string>event-store-44370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222086027068:ios:c95bc74bb6b920fc4b3039</string>
</dict>
</plist>